*{
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body{
  margin: 0;
  background: #f4f4f4;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-align: center;
}
p{
  font-family: 'Arvo', serif;
}
a{
  color: white;
}
.banner{
  height: 100vh;
  background: url(../res/laptop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.menuStack{
  padding: 10px 20px 0 10px;
  font-size: 1.7rem;
  color: white;
  text-align: left;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.menuBars{
  background: #008CBA;
  padding: 7px 10px;
  border-radius: 0.25rem;
  
}
/* Style the navbar */
nav {
  overflow: hidden;
  z-index: 99;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navDiv{
  display: none;
}
.navPhone{
  display: none;
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  padding: 20px 0;
  font-size: 3rem;
  top: 0;
  left: 0;
  z-index: 100;
  background: #009CFF;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
.navPLinks{
  border-bottom: 2px solid white;
  padding-top: 30px;
}
header{
  display: block;
  max-width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title{
  font-size:3.8rem;
  line-height: 1;
  margin: 7px 0;
}
.titleCap{
  font-size: 2.389rem;
  line-height: 1;
  margin: 7px 0;
}

.arrows{
  cursor: pointer; 
  margin-top: 20px;
  position: absolute;
  bottom: -10;
  left: 50%;
  transform: translateX(-50%);
}
.arrows span{
  display: block;
  height: 20px;
  width: 20px;
  border-right: 3px white solid;
  border-bottom: 3px white solid;
  transform: rotate(45deg);
  margin: -10px;
  animation: arrowAnimation 2.5s infinite;
}
.arrows span:nth-child(2){
  animation-delay: -0.2s;
}
.arrows span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes arrowAnimation{
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50%{
    opacity: 100;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
.quote{
  font-size: 1.333rem;
}
.about{
  padding: 10px 30px;
  margin-bottom: 50px;
}
.heading{
  color: #457B9D;
  font-size: 2rem;
  border-bottom: 2px #457B9D solid;
}

.aboutImg{
  display: block;
  width: 100%;
  margin-top: 40px;
}
h4{
  color: #457B9D;
  font-size: 1.6rem;
}
.skills{
  display: grid;
  font-size: 2rem; 
  grid-column-gap: 30px;
  justify-content: center;
}



.expBar{
  display: none;
}
.skillGrid{
  display: grid;
  font-size: 1rem;
  grid-gap: 30px;
  justify-content: center;
}
.skillCard{
  background: #1B6492;
  color: white;
  padding: 0 30px;
  border-radius: 0.25rem;
  outline: 2px solid #fff;
  outline-offset: -10px;
  text-align: left;
  box-shadow: 2px 7px 7px 0 rgba(0, 0, 0, 0.5);
}
.skTitle{
  margin-top: 35px;
  padding: 5px;
  border-bottom: 2px white solid;
  font-size: 1.2rem;
}
.skT{
  display: inline;
}
.skUl{
  text-align: left;
  margin: 5px 0 10px 0;
  padding: 5px 0 10px 0;
  font-family: 'Arvo', serif;
}
.portfolio{
  padding: 20px 30px;
  background: linear-gradient(#1B6492,#009CFF);
  color: white;
}
.headingWhite{
  color: white;
  border-bottom: 2px white solid;
}
.galName{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.icons{
  font-size: 24px;
  width: 100%;
}
.pIcons{
  margin: 0 15px;
}
.galImgInfo{
  height: 100%;
  text-align: center;
  padding-bottom: 20px;
}
.galImg{
  display: block;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.imageCon{
  height: 100%;
  position: relative;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .4s ease-in;
}

.imageCon:hover .overlay{
  height: 100%;
}
.text {
  color: white;
  font-size: 0.9rem;
  text-align: left;

}
.picName{
  font-size: 1.2rem;
  font-weight: 700;
  border-bottom: 2px solid white;
  font-family: 'Oswald', sans-serif;
  margin: 0;
}
.btn{
  display: inline-block;
  margin-top: 20px;
  color: white;
  padding: 7px 15px;
  font-size: 1.2rem;
  font-weight: 700;
  background: #E63946;
  border-radius: 0.25rem;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease;
  cursor: pointer;
}
.btn:hover{
  background: rgb(192, 20, 35);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}
.galBtn{
  display: none;
}

.contact{
  padding: 20px 50px;
}
form{
  text-align: left;
}
label{
  color: #457B9D;
}

input{
  border: none;
  width: 100%;
  font-size: 1.2rem;
  padding: 3px;
  background: #DEDEDE;
}

textarea{
  border: none;
  width: 100%;
  height: 190px;
  font-size: 1.2rem;
  padding: 3px;
  background: #DEDEDE;
  resize: none;
}

.but{
  display: grid;
  justify-content: right;
  width: 100%;
}

.social{
  padding: 20px 30px;
  background: #364958;
  color: white;
}
.socialImgDiv{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  margin: 30px 0;
}

.socialIcon{
  font-size: 2rem;
}

.skillFlexCircle{
  background: rgba(0, 0, 0, 0);
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  transition: 0.5s ease;
}
.skillFlexCircle:hover{
  background: white;
  color: #364958;
} 
.skillFlexCircle:hover .socialIcon{
  color: #364958;
}

@media only screen and (min-height: 680px){
  .arrows{
    margin-top: 40px;
  }
}

@media only screen and (min-width: 800px){
  header{
    max-width: 100%;
    display: grid;
    height: calc(100vh - 60px);
    align-content: center;
    transform: none;
    position: relative;
    bottom: auto;
    left: auto;
  }
  .menuStack{
    display: none;
  }
  .navDiv{
    display: block;
    width: 100%;
    height: 50px;
    background: rgba(1, 5, 66, 0.98);
    position: fixed;
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
  .navLink{
    font-size: 1.2rem;
  }
  .navLink:hover{
    color: #ccc;
  }
  .logo{
    float: left;
    font-family: 'Pacifico';
  }
  .navList{
    display: grid;
    grid-template-columns: auto 40%;
    font-weight: 700;
    margin: 10px;
  }
  .listRight{
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .title{
    font-size:8rem;
    line-height: 1;
    margin: 7px 0;
  }
  .titleCap{
    font-size: 7rem;
    line-height: 1;
    margin: 7px 0;
  }
  .quote{
    font-size: 1.7rem;
  }
  .arrows{
    bottom: 0;
  }
  .heading{
    font-size: 3rem;
    margin: 5px 10px 10px 10px;
  }
  .about{
    position: relative;
    max-width: 1000px;
    margin: 50px auto;
  }
  .abGrid{
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 3fr 6fr ;
    width: 80%;
    margin: 0 auto;
  }
  .abBox{
    background: #364958;
    padding: 10px 50px 50px 50px;
    border:2px solid #364958;
    outline: 2px solid #fff;
    outline-offset: -10px;
    text-align: left;
    max-width: 580px;
    max-height: 400px;
    grid-column: 2/ span 4;
    grid-row: 4/ span 3;
    z-index: 4;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
  }
  .abHeading{
    color: #fff;
    border-bottom:2px solid #fff;
  }
  .aboutMe{
    color: white;
    font-size: 1.2rem;
  }
  .aboutImg{
    margin: 0;
    grid-column: 1 / span 4;
    grid-row: 1 / span 4;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
  }
  .skills{
    display: block;
  }
  .skillGrid{
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
  }
  .sg1{
    grid-column: 1/span 1;
  }
  .sg2{
    grid-column: 2/span 1;
  }
  h4{
    font-size: 2rem;
  }
  .skillCard{
    font-size: 1.2rem;
  }
  .skTitle{
    font-size: 1.6rem;
  }
  .skT{
    display: inline;
  }
  .skUl{
    text-align: left;
    margin: 5px 0 10px 0;
    padding: 5px 0 10px 0;
    font-family: 'Arvo', serif;
  }
  .pWidth{
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
    position: relative;
  }
  .galGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 30px;
    margin-top: 50px;
  }
  .galImg{
    height: 100%;
    object-fit: cover;
    margin: 0;
    /* border-radius: 10px; */
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.4);
  }
  .galImgInfo{
    height: 100%;
    text-align: left;
    padding-bottom: 20px;
  }
  .icons{
    width: 100%;
    font-size: 32px;
  }
  .pIcon{
    padding: 10px;
  }
  .galName{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 2px solid white;
  }
  .g1{
    grid-column: 1/ span 1;
  }
  .g2{
    grid-column: 2/span 1;
  }
  .g4{
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }
  .g3{
    grid-column: 2/span 1;
    grid-row: 2/span 1;
  }
  .g5{
    grid-column: 1/span 1;
    grid-row: 3/span 1;
  }
  .g6{
    grid-column: 2/span 1;
    grid-row: 3/span 1;
  }
  .text{
    padding: 50px;
  }
  .picName{
    font-size: 1.7rem;
  }
  .picCap{
    font-size: 1.2rem;
  }
  .galBtn{
    display: inline-block;
  }
  .pBtn{
    width: 90%;
    text-align: right;
  }
  .contact{
    max-width: 1000px;
    margin: 0 auto;
  }
  .nameEmail{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding-top: 20px;
  }
  label{
    font-size: 1.5rem;
  }
  input{
    font-size: 1.5rem;
  }
  textarea{
    font-size: 1.5rem;
  }
  .socialImgDiv{
    justify-content: center;
    grid-gap: 40px;
  }
}

@media only screen and (max-width: 830px){
  .abHeading{
    font-size: 2rem;
  }
}
